alacritty/
audacity/
autostart/
bashtop/
bspwm/
calibre/
chromium/
Code - OSS/
dconf/
dunst/
environment.d/
gedit/
GIMP/
glib-2.0/
go/
goa-1.0/
gtk-3.0/
gtk-4.0/
htop/
ibus/
kdenlive-layoutsrc/
kdenliverc/
libfm/
libreoffice/
mako/
mimeapps.list/
mpv/
nautilus/
nvim/
pavucontrol.ini/
pcmanfm/
picom/
polybar/
procps/
pulse/
qalculate/
QtProject.conf/
REAPER/
retroarch/
rncbc.org/
rofi/
scripts/
Scripts/
simple-scan/
smassh/
spek/
sxhkd/
systemd/
Thunar/
user-dirs.dirs/
user-dirs.locale/
vlc/
wal/
xfce4/
xournalpp/
xsettingsd.conf/
yay/
YouTube Music/
